*{
    margin: 0;
    padding: 0;
}
#icon{
    
    height: 30px;
    width: 50px;
    left: 49%;
    top: 93.9%;
    position: absolute;
    
}

.mama{
    
    font: bold;
    font-feature-settings: "blwf";
    text-align: center;
}


.hero{

    height: 80vh;
    width: 100%;
    background:var(--secondary-color);
    font-family: sans-serif;
    position: top;
}
nav ul{
flex: 1;
text-align: center;


}
:root{
    --primary-color:rgb(175, 187, 8) ;
    --secondary-color:rgb(11, 82, 23) ;}
   
 

.dark-theme{
    --primary-color:rgb(31, 80, 12) ;
    --secondary-color:rgb(207, 226, 120) ;

}


.strong{ background-color:var(--primary-color); 
    height: 40vh;
    width: 100%;    
    font-family: sans-serif;
    position: top;
    
} 

.foo[style*="color: red"] {
    color: firebrick !important;
  }
  


